body{
    width: 80%;
}
.header-copertina{
    background-image: url(../img/pattern.png);
    background-color: dodgerblue;
   
}
.logo{
   margin-top: 80px;
   height: 60px;
}
   address{
    color: gray;
   }

th{
    background-color: blue;
}
.riga-colorata{
    background-color: aqua;
}