body{
    width: 100%;
}
.header-copertina{
    background-image: url(../img/pattern.png);
    background-color: dodgerblue;
   
}
.logo{
   margin-top: 80px;
   height: 60px;
}
   address{
    color: gray;
   }

th{
    background-color: blue;
}
.riga-colorata{
    background-color: aqua;
}


.monitor{
   width: 25%;
   height: 200px;
    background-image: url(../img/monitor.jpg);
    color: white;
    font-size: 32px;
    margin-top: 10px;
}
.graph{
    width: 25%;
    height: 200px;
     background-image: url(../img/graph.jpg);
     color: white;
     font-size: 32px;
     margin-top: 10px;
 }